<div class="container">
  <app-sidebar [showSubmenuBook]="true"></app-sidebar>
  <div class="content">
    <app-header></app-header>
    <div class="menu">
      <a routerLink="/livro/form" mat-raised-button color="primary">Novo Livro</a>
    </div>
    <mat-card *ngFor="let book of books" class="card">
      <a routerLink="/livro/lista/{{book.id}}" style="color: #000; display: flex;">
        <img src="{{apiUrlImg}}/uploads/{{book.file.fileName}}" alt="{{book.title}}">
        <div class="item">
          <mat-card-header class="flex">
            <mat-card-title style="padding-left: 0px;">{{book.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div style="display: flex;">
              <p style="margin-right: 3px;">
                <strong>{{book.authors.length > 1 ? 'Autores: ' : 'Autor:'}} </strong>
              </p>
              <p style="margin-right: 3px;" *ngFor="let author of book.authors; let index = index">
                {{index < book.authors.length -1 ? author.name.concat(',') : book.authors.length && author.name}}
              </p>
            </div>
            <strong>Disponível nas bibliotecas: </strong>
            <p *ngFor="let library of book.libraries">
              {{library.name}}
            </p>
          </mat-card-content>
        </div>
      </a>
    </mat-card>
    <mat-paginator [length]="pageable.totalElements" [pageSize]="5" (page)="handlePage($event)"></mat-paginator>
  </div>
</div>
